.hero {
	background-image: url(../img/bg/hero-bg.jpg);
	@include cover;
	position: relative;
	display: flex;
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: space-between;
	padding-top: rem(12px);
}

.header__logo {
	background-image: url('../img/icons/logo.svg');
  @include cover;
	width: rem(92px);
	height: rem(69px);
	margin-left: rem(-2px);

	@include tablets {
		margin-top: rem(5px);
	}
}

.nav {
	display: flex;
	flex: 1;
	justify-content: flex-end;

	@include tablets {
		display: none;
	}
}

.nav__list {
  display: flex;
  align-items: center;
  margin-top: rem(-3px);
  margin-right: rem(15px);
}

.nav__item {
  color: #fff;
	transition: 0.3s;

  &:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    @include circle(5px);
    background-color: #fff;
    margin: 0 12px;
  }

  &:last-child:after {
    display: none;
  }
}

.nav__link {
	font-family: 'Ubuntu-Medium';
	font-size: rem(13px);
	color: #fff;
	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
	}
}

.header__btn {
	display: flex;
	align-items: center;
	align-self: center;
}

.btn {
	font-family: 'Ubuntu-Medium';
	font-size: rem(13px);
	color: #fff;
	text-transform: uppercase;
	width: rem(97px);
	height: rem(35px);
	border-radius: rem(5px);
	background-color: $red;
	padding: rem(9px) rem(16px);
	transition: 0.3s;
	overflow: hidden;

	&:hover {
		background-color: darken($red, 10%);
	}
}

.hamburger-menu__link {
	display: flex;
	align-items: center;
	position: relative;
	width: rem(24px);
	height: rem(24px);
	margin-left: rem(30px);
	margin-right: rem(14px);
	display: none;

	@include tablets {
		display: flex;
	}
}

.hamburger-menu__bars {
	&, &:before, &:after {
		background-color: #fff;
		width: 100%;
		height: rem(4px);
		border-radius: rem(3px);
	}

	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
	}

	&:before {
		top: 0;
	}

	&:after {
		bottom: 0;
	}
}

.hero__content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 15%;

	@include tablets {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding: 0 9% 18% 9%;
	}

	@include phones {
		padding: 0 9% 30% 9%;
	}
}

.hero__left {
	margin-right: rem(13px);
	margin-top: rem(-14px);
	padding-left: rem(16px);
}

.hero__pic {
	max-width: 100%;

	@include tablets {
		max-width: rem(325px);
		max-height: rem(325px);
	}

	@include phones {
		max-width: rem(300px);
		max-height: rem(300px);
	}
}

.hero__right {
	padding-top: rem(38px);

	@include tablets {
		padding-top: 0;
		display: flex;
		flex-flow: column;
		align-items: center;
	}
}

.section-title {
	margin-bottom: rem(14px);

	@include tablets {
		font-size: rem(68px);
		margin-bottom: rem(0px);
	}
}

.hero__text {
	font-family: 'Lifehack-Medium';
	font-size: rem(65px);
	line-height: rem(60px);
  color: #fff;

	@include phones {
		font-size: rem(58px);
		line-height: rem(50px);
	}
}

.down-arrow {
	width: rem(30px);
	height: rem(15px);
	position: absolute;
	bottom: 6%;
	left: 49%;
  fill: #fff;

	&:hover {
		transform: scale(1.3);
	}

	@include tablets {
		left: 48%;
	}
}
